[Unit]
Description=Vivarium CTRL
After=network.target

[Service]
ExecStart=python3 /home/pi/Vivarium_CTRL/vivarium_ctrl.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
