$def with (device_states, sensor_readings, num_hours)
$var css: files/css/style.css
$var scripts: files/scripts/moment.js files/scripts/Chart.js files/scripts/script.js

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Vivarium_CTRL</title>
        <meta name="description" content="Vivarium monitoring and control using a Raspberry Pi.">
        <meta name="author" content="Daniel Dean <dd@danieldean.uk>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        $if self.css:
            $for style in self.css.split():
                <link rel="stylesheet" href="$style"/>
        $if self.scripts:
            $for script in self.scripts.split():
                <script src="$script"></script>
    </head>

    <body>
        <div class="header">
            <h1>Vivarium_CTRL</h1>
        </div>
        <div class="tile-container">
            <div class="tile" id="backend-running-tile">
                ...
            </div>
            <div class="tile" id="temperature-tile">
                $sensor_readings[0]['temperature']°C
            </div>
            <div class="tile" id="humidity-tile">
                $sensor_readings[0]['humidity']%
            </div>
            <div class="tile" id="camera-tile">
                <a href="/stream.mjpg">Live</a>
            </div>
            $for device_state in device_states:
                <div class="tile" id="$device_state.device-tile">
                    $if device_state.state == 1:
                        <input onclick="toggleDevice(this);" type="button" id="$device_state.device" value="On">
                    $else:
                        <input onclick="toggleDevice(this);" type="button" id="$device_state.device" value="Off">
                </div>
        </div>
        <div class="chart-container">
            <canvas id="temperature-chart"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="humidity-chart"></canvas>
        </div>
        <div class="hours-select-container">
            <form action="/" id="hours-select" method="POST"></form>
            <label for="num_hours">Past hours to load:</label>
            <input form="hours-select" type="number" id="num_hours" name="num_hours" min="1" max="168" value="$num_hours">
            <input form="hours-select" type="submit" value="Submit">
        </div>
        <div class="table-container">
            <table id="sensor-readings-table">
                <thead>
                    <tr>
                        <th id="readingdatetime">Reading Date & Time</th>
                        <th id="temperature">Temperature (°C)</th>
                        <th id="humidity">Humidity (%)</th>
                        <th id="comments">Comments</th>
                    </tr>
                </thead>
                <tbody>
                    $for sensor_reading in sensor_readings:
                        <tr>
                            <td>$sensor_reading.reading_datetime.split('.')[0]</td>
                            <td>$sensor_reading.temperature</td>
                            <td>$sensor_reading.humidity</td>
                            <td>$sensor_reading.comments</td>
                        </tr>
                </tbody>
            </table>
        </div>
        <div class="actions-container">
            <form action="/logout" method="POST">
                <input type="submit" value="Logout">
                <input type="button" value="Settings" onclick="location.href='/settings';">
            </form>
        </div>
        <div class="footer">
            <p>Find me on <a href="https://github.com/danieldean/Vivarium_CTRL">GitHub</a></p>
        </div>
        <script>
            window.onload = function () {
                chartsFromTable();
                reload();
            }
        </script>
    </body>

</html>
